@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div style="width:250px; height: 100vh;overflow-y:scroll;overflow-x:visible">

            <NavMenu />
        </div>
    </div>

    <main>

        <div class="top-row px-4">

            <button type="button" class="btn btn-link">退出</button>
        </div>

        <div style="height: calc(100% - 60px);">
            <TabSet />
        </div>
    </main>
</div>
@code {

    public void cli()
    {
        StateHasChanged();
    }
}
