@page "/counter"
@inject TabSetTool TabSetTool

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="CloseActiveTab">CloseActiveTab</button>
<button class="btn btn-primary" @onclick="GoTo">GoTo</button>
<button class="btn btn-primary" @onclick="AddTab">AddTab</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void CloseActiveTab()
    {
        TabSetTool.CloseActiveTab();
    }
    private void GoTo()
    {
        TabSetTool.GoTo("跳转" + currentCount, "/counter");
    }
    private void AddTab()
    {
        TabSetTool.AddTab("跳转" + currentCount, "/counter");
    }
}
